html {
  height: 100%;
}
body {
  background-color: #242424;
  color: #ccc;
  margin: 0;
  font-family: monospace;
  height: 100%;
}

.slots {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: 100%;
}

.slot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.slot .title {
  font-weight: 600;
}

:root {
  --foreground: white;
}

.editor {
  flex-grow: 1;
  background: transparent;
}
.cm-editor {
  height: 100%;
  background: transparent;
}
.cm-gutters {
  background: transparent !important;
}
select {
  background-color: #222;
  color: white;
  border: 0;
  padding: 4px;
  outline: none;
}
