* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #222;
  color: white;
  margin: 0;
  font-family: monospace;
  height: 100%;
  overscroll-behavior-x: contain;
  display: flex;
  flex-direction: column;
}

.slots {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  gap: 8px 4px; /* other 4px are set on cm-scroller so clicking an edge focuses the code */
  padding: 4px 0;
}

@media screen and (max-width: 750px) {
  .slots {
    grid-template-columns: minmax(0, 1fr);
  }
}
@media screen and (min-width: 751px) {
  body.boxed-mode {
    overflow: hidden;
    // boxed layout
    .slots {
      flex: 1 1 auto;
      flex-grow: 0;
      overflow: hidden;
    }
    .slot {
      overflow: auto;
      min-width: 0;
    }
  }
}

.slot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  /* background-color: #24242411; */
  /* sorry lu, looks bad when hydra is running */
  /* hey its okay it wasnt me who added this :) -lu */
  .error {
    background-color: black;
    font-family: monospace;
    padding: 8px;
    margin: 0;
    border: 2px solid white;
    color: tomato;
    position: sticky;
    bottom: 0;
  }
}

.slot .title {
  font-weight: 600;
}

:root {
  --foreground: white;
}

.editor {
  flex-grow: 1;
  background: transparent;
}

.cm-editor {
  height: 100%;
  background: transparent;
}

.cm-scroller {
  overflow: hidden;
  padding: 0 4px;
  cursor: text;
}

.cm-content {
  padding-bottom: 16px !important; /* to make sure nametag isnt cut off */
}

.cm-gutters {
  background: transparent !important;
  display: none !important;
}

.cm-focused {
  /* stop the dashed line overlapping our own things */
  outline: none !important;
}

.cm-line {
  font-size: 105%;
  background: rgba(0, 0, 0, 0.7);
  max-width: fit-content;
  padding: 0px !important;
}

.cm-activeLine {
  background-color: rgba(0, 1, 0, 1) !important;
}

.slot header {
  padding: 0px 4px;
  align-self: flex-start;
  flex: 0 1 auto;
  z-index: 998;
  position: sticky;
  select,
  button {
    background: rgba(0, 0, 0, 0.7);
  }
  top: 0;
  display: flex;
  gap: 6px;
}

select {
  width: fit-content;
  background-color: #111;
  border: none;
  color: white;
  font-size: 16px;
  outline: 2px solid white;
  outline-offset: -2px;
  padding: 4px;
  cursor: pointer;
  height: 30px;

  /* css hack to add padding to right of the chevron */
  border-right: 5px solid #111;
}

select:hover {
  background-color: #333;
  border-right: 5px solid #333;
}

select:focus,
button:focus {
  outline: 3px solid rgb(0, 100, 255);
  border-radius: 4px;
}

/* same as select basically */
button {
  background-color: #111;
  border: none;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  padding: 4px 6px;
  cursor: pointer;
  height: 30px;
  flex-shrink: 0;
  white-space: nowrap;
  line-height: 1;
  user-select: none;
}

button:hover {
  background-color: #333;
}

a {
  color: #cccccc;
}

#about-dialog a {
  color: #222;
}

a:hover {
  background-color: #cccccc;
  color: black;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 15px;
}

nav {
  padding: 3px;
  display: flex;
  gap: 4px;
  margin-right: -7px;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  pointer-events: none;
}

dialog {
  pointer-events: all;
  max-width: 400px;
  border: 3px solid black;
  outline: 1px solid white;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

dialog button {
  border: none;
}

label {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

iframe#strudel {
  border: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

iframe#hydra {
  border: 0;
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

iframe#shader {
  border: 0;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#mantra {
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: 999;
  text-shadow:
    1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
}

.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zen-mode {
  #zen-button {
    z-index: 1000;
  }
  .error {
    border: 0;
  }

  select {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.66);
  }

  & .title {
    display: none;
  }

  .slot {
    position: relative;
    header {
      .run {
        font-size: 0.95em;
        font-family: monospace;
        border: 0;
        /* background: none; */
      }
      select {
        font-size: 0.95em;
        font-family: monospace;
        /* background: transparent; */
        text-shadow:
          1px 1px 0px black,
          -1px -1px 0px black,
          1px -1px 0px black,
          -1px 1px 0px black;
        /* -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px; */
      }
    }
  }
}

.dropdown {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  button {
    width: 100%;
    text-align: left;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  z-index: 1;
}
.dropdown.open .dropdown-content,
.dropdown:hover .dropdown-content {
  display: block;
}
.mcplant {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  right: 100%;
  white-space: nowrap;
  background: black;
  color: white;
  padding: 4px;
}
.mcplant:hover .tooltip {
  display: block;
}
