* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #222;
  color: white;
  margin: 0;
  font-family: monospace;
  height: 100%;
  overscroll-behavior-x: contain;
}

.title h1 {
  text-shadow: 2px 2px 0px black;
}

.title p {
  text-shadow: 1px 1px 0px black;
}

.slots {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  gap: 0px 10px;
}

@media screen and (max-width: 750px) {
  .slots {
    grid-template-columns: minmax(0, 1fr);
  }
}

.slot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  /* background-color: #24242411; */
  /* sorry lu, looks bad when hydra is running */
  /* hey its okay it wasnt me who added this :) -lu */
}

.slot .title {
  font-weight: 600;
}

:root {
  --foreground: white;
}

.editor {
  flex-grow: 1;
  background: transparent;
}

.cm-editor {
  height: 100%;
  background: transparent;
}

.cm-scroller {
  overflow: hidden;
  padding: 0 8px;
  padding-bottom: 12px; /* to make sure nametag isnt cut off */
}

.cm-gutters {
  background: transparent !important;
  display: none !important;
}

.cm-focused {
  /* stop the dashed line overlapping our own things */
  outline: none !important;
}

.cm-line {
  font-size: 105%;
  background: rgba(0, 0, 0, 0.7);
  max-width: fit-content;
  padding: 0px !important;
}

.cm-activeLine {
  background-color: rgba(0, 1, 0, 1) !important;
}

.slot header {
  /* background-color: rgba(0, 0, 0, 0.18); sorry lu, looks bad when hydra is running */
  padding: 6px 8px;
  padding-right: 6px;
  display: flex;
  gap: 6px;
}

select {
  width: fit-content;
  background-color: #111;
  border: none;
  color: white;
  font-size: 16px;
  outline: 2px solid white;
  outline-offset: -2px;
  padding: 4px;
  cursor: pointer;
  height: 30px;

  /* css hack to add padding to right of the chevron */
  border-right: 5px solid #111;
}

select:hover {
  background-color: #333;
  border-right: 5px solid #333;
}

select:focus,
button:focus {
  outline: 3px solid rgb(0, 100, 255);
  border-radius: 4px;
}

/* same as select basically */
button {
  background-color: #111;
  border: none;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  padding: 4px 6px;
  cursor: pointer;
  height: 30px;
  flex-shrink: 0;
  white-space: nowrap;
  line-height: 1;
}

button:hover {
  background-color: #333;
}

a {
  color: #cccccc;
}

#about-dialog a {
  color: #222;
}

a:hover {
  background-color: #cccccc;
  color: black;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 15px;
}

nav {
  padding: 3px;
  display: flex;
  gap: 4px;
  margin-right: -7px;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  pointer-events: none;
}

dialog {
  pointer-events: all;
  max-width: 400px;
  border: 3px solid black;
  outline: 1px solid white;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

dialog button {
  border: none;
}

label {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

iframe#strudel {
  border: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

iframe#hydra {
  border: 0;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#mantra {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: black;
  text-shadow: 1px 1px 0px black;
}

.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zen-mode {
  #mantra {
    /*background: rgba(0,0,0,0.66);*/
    background: transparent;
  }
  header {
    flex-direction: row-reverse;
  }

  #settings-button {
    display: none;
  }
  #about-button {
    display: none;
  }

  .page-title {
    padding-top: 0px;
  }

  #zen-button {
    z-index: 1000;
  }

  button {
    border: none;
    background: rgba(0, 0, 0, 0.66);
  }

  select {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.66);
  }

  .run {
    display: none;
  }

  & .title {
    display: none;
  }

  .slot {
    header {
      margin-bottom: -48px;
      z-index: 1000;
    }
  }
}
